lost+found/
.view.dat
.view.stg/
Engine/
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
build/
*.pbxuser
xcuserdata
.copyarea.db
Mobile_Client/iOS/Library/MSTRDataCloud.framework/
Mobile_Client/iOS/Library/MSTRFishEye.framework/
Mobile_Client/iOS/Library/MSTRImageMap.framework/
Mobile_Client/iOS/Library/MSTRRingChart.framework/
Mobile_Client/iOS/Library/MSTRRssReader.framework/
Mobile_Client/iOS/Library/MicroStrategyMobileSDK.framework/Headers/
Mobile_Client/iOS/Library/MicroStrategyMobileSDK.framework/MicroStrategyMobileSDK
Mobile_Client/iOS/Library/MicroStrategyMobileSDK.framework/Resources/MicroStrategyMobileSDKResources.bundle/
Mobile_Client/iOS/MicroStrategyMobile/MergeBundles.log.txt
Mobile_Client/iOS/MicroStrategyMobile/temp/
Mobile_Client/iOS/MicroStrategyMobileSDK/Library/
Mobile_Client/iOS/Library/MSIAppConnect.framework/
Mobile_Client/iOS/Library/MSTRAirWatch.framework/
Mobile_Client/iOS/MSTRAirWatch/Library/MSTRAirWatch.framework/
AWSDK
Mobile_Client/iOS/Library/MSIACE.framework/
Mobile_Client/iOS/MSIACE/Library/MSIACE.framework/
Mobile_Client/iOS/Library/Dossier/
Mobile_Client/iOS/Dossier/Pods/
ACBClientSDK
*.xccheckout
*.xcworkspacedata
build_logs/
BIN/
Mobile_Client/WindowsPhone/WindowsPhone/obj
Mobile_Client/WindowsPhone/Debug
Mobile_Client/WindowsPhone/MSTRLibrary/Debug
Mobile_Client\/WindowsPhone/ipch
*.sdf
*.suo
*.user
*.pch
*.obj
Mobile_Client/WindowsPhone/MSTRBase/Debug/
Mobile_Client/Common/Classes - Shortcut.lnk
Mobile_Client/WindowsPhone/WindowsPhone.VC.opendb
*.tlog
Mobile_Client/WindowsPhone/DossierBackendTest/Debug/
Mobile_Client/WindowsPhone/DossierBackendTest/Generated Files/
Mobile_Client/WindowsPhone/DossierBackend/Debug/
WindowsWorkStationDemo/obj/
